
@{
    ViewBag.Title = "Environmental Economy Project";
}

<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Environmetal Economy Project</title>
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/logo100_100_cropped.png?alt=media&token=306741d8-deff-498a-8a96-1229e067a9c9">
    <meta name="description" content="Environmetal Economy Project">
    <meta name="og:title" property="og:title" content="Monitoring the environment, right inside your pocket">
    <meta name="robots" content="index, follow">
</head>

<body>
    <header class="head">
        <div>
            <a href="@Url.Action("Index", "Home")">
                <img src="https://firebasestorage.googleapis.com/v0/b/andrfire-89083.appspot.com/o/logo100_100_cropped.png?alt=media&token=306741d8-deff-498a-8a96-1229e067a9c9"
                     class="logo-image">
            </a>
            <a href="@Url.Action("Index", "Home")">
                <h3 class="logo-text">Environmetal Economy</h3>
            </a>
        </div>
        <nav id="nav1">
            <a id="alHome" class="action-link" href="@Url.Action("Index", "Home")">Home</a>
            <a id="alAbout" class="action-link" href="@Url.Action("About", "Home")">About us</a>
            <a id="alMap" class="action-link" href="@Url.Action("Map", "Home")">Map</a>
            <a id="alProduct" class="action-link" data-toggle="dropdown" href="">Products &#9662;</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index", "Home", 1)">UrAir</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Home", 2)">UrAir Plus</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Home", 3)">UrAir Map</a></li>
            </ul>
        </nav>
        <nav id="nav2">
            <a href="#" data-toggle="dropdown">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png"
                     class="logo-image">
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a class="dropdown-item" href="@Url.Action("About", "Home")">About us</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Map", "Home")">Map</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Home", 0)">Products</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()
</body>

</html>
<script src="~/Scripts/functions.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>